section{
	width: 1200px;
	margin: 0 auto;
	font-size: 14px;
}
.cp_header{
	width: 100%;
	background: #eee;
	height: 30px;
	line-height: 30px;
	color: #666666;
}
.cp_header .n_top li{
	float: left;
	margin: 0 5px;
}
.cp_header .n_top a{
	color: #666666;
}
.cp_header .n_top a:hover{
	color: red !important;
}
.cp_header .n_top>div>a:first-child{
	padding-right: 5px;
	border-right: 1px solid #ccc;
}
.cp_header .n_top>div:nth-of-type(2) li:last-child:hover{
	background: #fff;
}
.cp_nav{
	display: none;
	border: 1px solid #ccc;
	border-top: 0;
	margin-bottom: 10px;
}
.cp_nav>ul{
	padding-left: 5px;
	padding-top: 10px;
	height: 130px;
	border-right:1px solid ;
	border-image: -webkit-linear-gradient( #ccc, #fff) 30 30;
	border-image: -moz-linear-gradient( #ccc, #fff) 30 30;
	border-image: linear-gradient( #ccc, #fff) 30 30;
	margin: 10px 0;
}
.cp_nav>ul:last-child{
	border-right: 0;
}
.cp_nav>ul>h3{
	font-size: 14px;
	color: #000000;
}
.cp_nav>ul>li{
	float: left;
	margin: 0 3px;
}
.cp_nav>ul>li a{
	color: #666;
}
.cp_nav>ul>li a:hover{
	color: red !important;
}
.cp_sousuo100>div:first-child{
	padding-left: 100px;
}
.cp_sousuo100>div:nth-of-type(2){
	padding-left: 30px;
	margin-right: 30px;
}
.cp_sousuo100>div:first-child img{
	width: 177px;
	height: 55px;
}
.cp_sousuo100>div:last-child img{
	width: 440px;
	height: 70px;
}
.cp_btn{
	height: 36px;
	line-height: 36px;

	width: 320px;
	border:2px solid #ea152b;
	color: #000000;
}
.cp_btn>select:first-child{
	border: 0;
	float: left;
	height: 30px;
	width: 71px;
	line-height: 30px;
	text-align: center;
	border-right: 1px solid #ccc;
}
.cp_btn>input:nth-of-type(1){
	width: 200px;
	height: 30px;
	line-height: 30px;
	border: 0;
	float: left;
	border-left: 0;
}
.cp_btn>input:nth-of-type(2){
width: 45px;
height: 32px;
border: 0;
background:url(../img/enlarge.jpg)no-repeat center #ea152b;
float: left;
}
.tab_shaixuan{
	background: #f9f9f9;
	border: 1px solid #ccc;
}
.tab_shaixuan ul{
	padding: 4px 0;
	padding-left: 10px;
	border-left: 1px solid #ccc;
	color: #666666;	
}
.tab_shaixuan li a{
	color: #666666;	
}
.tab_shaixuan li a:hover{
	color: red !important;
}
.tab_shaixuan li{
	float: left;
	margin: 6px 10px;
}
.tab_shaixuan .row{
	border-bottom: 1px solid #ccc;
}
.tab_shaixuan .row:last-child{
	border-bottom: 0;
}
.tab_shaixuan div:first-child li{
	border: 1px solid #ccc;
	width: 155px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0;
	margin-top: 5px;
}
.tab_shaixuan div:first-child li:hover{
	color: #000000;
	border-color: red;
}
.tab_shaixuan div:first-child li:hover span{
	color: red;
	}
.tab_shaixuan .row>div:first-child{
	text-align: center;
	vertical-align: middle;
}
.tab_firstUl li>span{
	color: red;
}
.pinpai_more{
	border-left:1px solid #ccc;
	
}
.pinpai_more ul:first-child>li{
	margin: 0;
	width: 31px;
	height: 31px;
	text-align: center;
	line-height: 31px;
	color: #000000;
}
.pinpai_more ul:nth-of-type(2)>li{
	width: 115px;
}
.pinpai_more ul:first-child>li.bg{
	background: #000000;
	color:#fbd127;
}
.allWine{
	padding: 20px 10px 0;
}
.allWine figure{
	width: 225px;
	height: 312px;
	float: left;
	margin: 5px ;
	margin-top: 15px;
}
.allWine figure:nth-of-type(5n){
	margin-right: 0;
}
.allWine figure>img{
	width: 225px;
	height: 257px;
}
.allWine figure figcaption{
	width: 225px;
	height: 55px;
	border: 1px solid #ccc;
	text-align: center;
}
.allWine figure figcaption h3{
	width: 225px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.allWine figure figcaption span a{
	color: #999999;
	font-size: 12px;
}
.allwin_fenye{
	text-align: center;
	height: 35px;
	line-height: 35px;
	background: #fgfgfg;
	border: 1px solid #ccc;
	margin: 10px 0;
}
footer aside{
	width: 100%;
	height: 35px;
	line-height: 35px;
	background:#154456
}
footer aside ul{
	width: 500px;
	margin: 0 auto;
}
footer aside ul li{
	float: left;
	margin: 0 10px;
}
footer aside ul li a{
	color: #fff;
	
}
footer aside ul li a:hover{
	color: red;
}
footer span{
	display: block;
	width: 600px;
	margin: 0 auto;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #666666;
	text-align: center;
}
footer>ul{
	padding: 10px;
	width: 800px;
	margin: 0 auto;
}
footer>ul li img{
	width: 118;
	height: 42px;
}
footer>ul li{
	float: left;
	margin: 0 10px;
	width: 120px;
	height: 45px;
	border: 1px solid #ccc;
}