#gssy-main_2{
	width: 1200px;
	height: 440px;
	margin: 10px auto;
}
#gssy-main_introduc{
	width: 1200px;
	height: 470px;
	margin-bottom: 30px;
}
#gssy-main_products{
	width: 1200px;
	margin-bottom: 30px;
}
