	/*以上为头*************************************************部CSS样式*/
	
	
	.m_Center {
		width: 100%;
	}
	
	.m_tCenter {
		width: 1200px;
		margin: 0 auto;
	}
	
	.m_tCenter01 {
		width: 1200px;
		height: 90px;
	}
	
	.m_tCenter01Ul {
		height: 90px;
		display: flex;
		justify-content: space-between;
	}
	
	.m_tCenter01Ul li {
		width: 244px;
		height: 90px;
	}
	.m_tCenter01Ul li a img{
		width: 245px;
		height: 90px;
	}
	.li_huadong a {
		position: absolute;
	}
	
	.li_huadong span {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	
	.m_tCenter02 {
		width: 1200px;
		height: 280px;
		background: red;
		display: flex;
		justify-content: space-between;
		margin-top: 8px;
	}
	
	.m_tCenter02Left {
		width: 30%;
		height: 280px;
		background: yellow;
		display: flex;
		justify-content: space-around;
	}
	
	.m_tCenter02Ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	
	.m_tCenter02Ul li {
		width: 165px;
		height: 88px;
		margin-bottom: 6px;
		
	}
	.m_tCenter02Ul li a{
		width: 165px;
		height: 88px;
	}
	.m_tCenter02Ul li a img{
		width: 165px;
		height: 88px;
	}
	.m_tCenter02Center {
		width: 38%;
		height: 280px;
		background: #444786;
	}
	#banner {
			position: relative;
			width: 455px;
    		height: 278px;
			border: 1px solid #666;
			overflow: hidden;
		}
		#banner_list a{
			width: 455px;
    		height: 278px;
		}
		#banner_list a img {
			border: 0px;
			/*width: 100%;*/
		}
		
		#banner_bg {
			position: absolute;
			bottom: 0;
			height: 30px;
			filter: Alpha(Opacity=30);
			opacity: 0.3;
			z-index: 1000;
			cursor: pointer;
			width: 455px;
		}
		
		#banner_info {
			position: absolute;
			bottom: 0;
			left: 5px;
			height: 22px;
			color: #fff;
			z-index: 1001;
			cursor: pointer
		}
		
		#banner_text {
			position: absolute;
			width: 120px;
			z-index: 1002;
			right: 3px;
			bottom: 3px;
		}
		
		#banner ul {
			position: absolute;
			list-style-type: none;
			filter: Alpha(Opacity=80);
			opacity: 0.8;
			z-index: 1002;
			margin: 0;
			padding: 0;
			bottom: 12px;
			right: 23px;
		}
		
		#banner ul li {
			padding: 0px 8px;
			float: left;
			display: block;
			color: #FFF;
			background: #6f4f67;
			cursor: pointer;
			border: 1px solid #333;
		}
		
		#banner ul li.on {
			background-color: #000;
		}
		
		#banner_list a {
			position: absolute;
		}
		
	.m_tCenter02Right {
		width: 30%;
		height: 280px;
		background: #CECECE;
		display: flex;
		justify-content: space-around;
	}
	
	.bannerList {
		width: 344px;
		height: 276px;
	}
	/*888888888888888888轮播8888888888888888*/
	
	.m_tCenter03 {
		width: 1200px;
		height: 400px;
		background: red;
		margin-top: 8px;
	}
	
	.m_tCenter03Tp {
		width: 1200px;
		height: 88px;
	}
	
	.m_threes {
		display: flex;
		justify-content: space-between;
	}
	
	.m_t03top {
		width: 30%;
		height: 88px;
	}
	
	.m_t03center {
		width: 38%;
		height: 88px;
	}
	
	.m_t03bt {
		width: 30%;
		height: 88px;
	}
	
	.m_tCenter03Bt {
		width: 1200px;
		height: 290px;
		margin-top: 8px;
	}
	
	.m_tCenter03BtImg {
		width: 1200px;
		border: #000000 1px solid;
	}
	
	.m_tCenter03Ul {
		height: 90px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	
	.m_tCenter03Ul li {
		width: 30%;
		height: 88px;
		margin-top: 4px;
	}
	
	.m_tCenter03Ul li a {
		width: 360px;
	}
	
	.m_tCenter03Ul li a img {
	    width: 100%;
		height: 88px;
	}
	
	.m_tCenter03BtImg img {
		width: 100%;
	}
	
	.m_Center04 {
		width: 1200px;
		height: 180px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 25px;
	}
	
	.m_Center04 ul {
		width: 900px;
		display: flex;
		justify-content: space-around;
	}
	
	.m_Center04 ul li a {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		font-size: 18px;
	}
	
	.m_Center04 ul li img {
		width: 120px;
		height: 120px;
	}
	
	.m_Center04right {
		width: 300px;
		float: right;
	}
	
	.a_area {
		width: 1200px;
	}
	
	.a_area01 {
		line-height: 50px;
		border-bottom: 3px solid #CA0202;
	}
	
	.a_area01 h3 {
		font-size: 28px;
		font-weight: 40;
	}
	
	.a_sapn {
		float: right;
		margin-top: -50px;
	}
	
	.a_sapn span {
		background: #0000FF;
		padding: 4px 2px;
		margin-right: 4px;
	}
	
	.a_sapn span a {
		color: white;
	}
	
	.a_area02 {
		width: 1200px;
		margin-top: 5px;
	}
	
	.a_areaLeft {
		width: 200px;
		float: left;
	}
	
	.a_areaLeft a img {
		margin-top: 2px;
	}
	
	.a_areaCenter {
		width: 800px;
		float: left;
		margin-top: 2px;
	}
	
	.a_areaCenter ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	}
	
	.a_areaCenter ul li {
		border-left: #CECECE solid 1px;
		border-top: #CECECE solid 1px;
		border-bottom: #CECECE solid 1px;
	}
	
	.a_areaCenter ul li:nth-child(5) {
		border-bottom: #CECECE solid 1px;
		margin-top: 4px;
	}
	
	.a_areaCenter ul li:nth-child(6) {
		border-bottom: #CECECE solid 1px;
		margin-top: 4px;
	}
	
	.a_areaCenter ul li:nth-child(7) {
		border-bottom: #CECECE solid 1px;
		margin-top: 4px;
	}
	
	.a_areaCenter ul li:nth-child(8) {
		border-bottom: #CECECE solid 1px;
		margin-top: 4px;
	}
	
	.a_areaRight {
		width: 200px;
		float: right;
	}
	
	.a_areaRight a img {
		margin-top: 2px;
	}
	
	.a_areaBtImg {
		width: 1200px;
		border: #000000 1px solid;
		margin-top: 400px;
	}
	
	.a_areaBtImg img {
		width: 100%;
	}
	
	.a_areaChangxiao {
		margin-top: 15px;
		width: 1200px;
		overflow: hidden;
	}
	
	#tiao,
	#ren {
		color: #f6710f;
		background: none;
		padding: 0;
	}
	
	.a_areaChangxiao02 {
		margin-top: 10px;
		overflow: hidden;
	}
	
	.dadada {
		width: 1300px;
	}
	
	.a_areaChangxiao02 ul li {
		width: 188px;
		float: left;
		background: #f8f8f8;
		margin-right: 15px;
		margin-bottom: 10px;
		display: inline;
	}
	
	.a_areaChangxiao02Li {
		position: relative;
		width: 188px;
		height: 190px;
		overflow: hidden;
	}
	
	.a_areaChangxiao02Licopy {
		position: relative;
		width: 249px;
		height: 190px;
		overflow: hidden;
	}
	
	.a_areaChangxiao02Li a img:first-child {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
	}
	
	.a_areaChangxiao02Lis {
		position: absolute;
		bottom: 2px;
		right: 2px;
	}
	
	.a_areaChangxiao02Lis img {
		width: 20px !important;
		height: 10px !important;
	}
	
	.a_areaChangxiao02WZ {
		padding: 3px 10px 3px 10px;
	}
	
	.a_areaChangxiao02WZ span {
		font-size: 16px;
		text-align: center;
		display: block;
		background: url(../img/icon2.jpg) no-repeat bottom;
		padding-bottom: 7px;
		font-weight: bold;
	}
	
	.a_area03Div01 {
		background: #f4f8fb;
		border-bottom: #3f8efc 2px solid;
		position: relative;
		height: 60px;
		margin-bottom: 10px
	}
	
	.a_sapn1 {
		float: right;
		margin-top: 23px;
	}
	
	.a_sapn1 span {
		background: #0000FF;
		padding: 4px 2px;
		margin-right: 4px;
	}
	
	.a_area03Div01 h3 {
		font-size: 24px;
		color: #222;
		width: 200px;
		position: absolute;
		left: 0;
		font-weight: normal;
		background: url(../img/jicon.jpg) no-repeat;
		line-height: 56px;
		text-align: center;
	}
	
	.a_area03Div02 {
		float: left;
		width: 270px;
		background: #f4f8fb;
		padding: 22px 10px 12px 10px;
	}
	
	.a_area03Div02 a {
		background: #fff;
		float: left;
		font-size: 13px;
		line-height: 24px;
		width: 84px;
		text-align: center;
		margin: 0 3px 8px 3px;
		display: inline;
	}
	
	.a_area03Div03 {
		float: left;
		width: 890px;
		border: #eee 1px solid;
		padding: 0 9px 0px 9px;
	}
	
	.a_area03Div03 ul li {
		float: left;
		width: 130px;
		margin: 15px 0 0 16px;
		text-align: center;
		display: inline;
	}
	
	.a_area03Div03 ul li img {
		width: 119px;
		height: 70px;
		border: #eee 1px solid;
		padding: 10px 0;
	}
	
	.a_area04 {
		margin-top: 10px;
	}
	
	.a_area04Div2 {
		margin-top: 10px
	}
	
	.a_area04Div21 {
		width: 402px;
		float: left;
		border: #eee 1px solid;
		border-right: 0;
		text-align: center;
	}
	
	.a_area04Div21 ul li {
		float: left;
		width: 199px;
		border-bottom: #eee 1px solid;
		border-right: #eee 1px solid;
	}
	.a_area04Div21 ul li a img{
		width: 198px;
		height: 218px;
	}
	.a_area04Div22 {
		float: left;
		width: 795px;
		border: #eee 1px solid;
		position: relative;
	}
	
	.a_area04Div221 {
		float: left;
		width: 597px
	}
	
	.a_area04Div221 li {
		width: 199px;
		float: left;
	}
	.a_area04Div221 li a img {
		width: 198px;
		height: 218px;
	}
	
	
	.a_area04Div222c {
		float: left;
		width: 189px;
		height: 440px;
	}
	.a_area04Div222c  a img {
		width: 189px;
		height: 145px;
	}
	.a_area04Div222 {
		float: left;
		width: 198px;
	}
	.a_area04Div222  a img {
		width: 198px;
		height: 145px;
	}
	.a_area04btm {
		margin: 10px auto 0 auto;
	}
	
	.a_area04btm1 {
		float: left;
		width: 820px;
		position: relative;
		background: #f6f6f6;
		padding-bottom: 25px;
	}
	
	.a_area04btm1 h3 {
		font-size: 16px;
		height: 36px;
		line-height: 36px;
		top: 0px;
		position: relative;
		z-index: 99;
		background: #efefef;
		border-bottom: #d1d1d1 1px solid;
	}
	
	.a_area04btm1 h3 a {
		padding: 0 15px;
		display: block;
		float: left;
		margin-left: 10px;
	}
	
	.a_area04btm1Nav1 {
		display: block;
	}
	.a_area04btm1Nav10{
		display: none;
	}
	
	.a_area04btm1Nav1 ul {
		padding: 10px 13px;
	}
	
	.a_area04btm1Nav1 ul li {
		font-size: 14px;
		line-height: 26px;
		height: 26px;
		overflow: hidden;
		float: left;
		width: 315px;
		margin-right: 20px;
		display: block;
		color: #8a8a8a;
	}
	
	.a_area04btm1Nav2 {
		display: block;
	}
	.a_area04btm1Nav20{
		display: none;
	}
	.a_area04btm1Nav2 ul li {
		font-size: 14px;
		line-height: 26px;
		height: 26px;
		overflow: hidden;
		float: left;
		width: 315px;
		margin-right: 20px;
		display: block;
		color: #8a8a8a;
	}
	
	.a_area04btm1Nav3 {
		display: block;
	}
	.a_area04btm1Nav30{
		display: none;
	}
	.a_area04btm1Nav3 ul li {
		font-size: 14px;
		line-height: 26px;
		height: 26px;
		overflow: hidden;
		float: left;
		width: 315px;
		margin-right: 20px;
		display: block;
		color: #8a8a8a;
	}
	
	.a_area04btm1Nav4 {
		display: block;
	}
	.a_area04btm1Nav40 {
		display: block;
	}
	.a_area04btm1Nav4 ul li {
		font-size: 14px;
		line-height: 26px;
		height: 26px;
		overflow: hidden;
		float: left;
		width: 315px;
		margin-right: 20px;
		display: block;
		color: #8a8a8a;
	}
	
	.a_area04btm1s {
		float: right;
		width: 370px;
		background: #f6f6f6;
		padding-bottom: 5px;
	}
	
	.a_area04btm1right {
		width: 370px;
		position: relative;
		background: #efefef;
		border-bottom: #d1d1d1 1px solid
	}
	
	.a_area04btm1right h3 {
		font-size: 16px;
		color: #cc1b1b;
		width: 100px;
		text-align: center;
		line-height: 36px;
		position: relative;
	}
	
	.a_area04btm1right span {
		font-size: 14px;
		position: absolute;
		right: 6px;
		width: 40px;
		top: 8px;
	}
	
	.a_area04btm1rights {
		padding: 5px 10px;
	}
	
	.a_area04btm1rights ul li {
		font-size: 13px;
		line-height: 24px;
		height: 24px;
		overflow: hidden;
	}
	
	.clear {
		clear: both;
	}
	
	.a_area05 {
		margin: 10px auto 0 auto;
	}
	
	.a_area05 h3 {
		font-size: 20px;
		padding: 4px 0 5px 0;
	}
	
	.a_area05Div1 a img {
		float: left;
	}
	
	.a_area05Div2 {
		width: 1000px;
		overflow: hidden;
		border-top: 2px solid #e4393c;
		margin: 10px auto 10px auto;
	}
	
	.f2-sousuo {
		width: 1200px;
		height: 40px;
		margin-top: 40px;
		border-bottom: 1px solid #999999;
	}
	
	.f2-sousuo .left h4 {
		line-height: 40px;
	}
	
	.f2-sousuo .left {
		width: 600px;
		height: 40px;
		float: left;
	}
	
	.f2-sousuo .right input {
		width: 500px;
		height: 38px;
		float: right;
	}
	
	.f2-sousuo .right img {
		position: absolute;
		top: 5px;
		right: 20px;
		width: 30px;
		height: 30px;
	}
	
	.f2-sousuo .right {
		width: 600px;
		height: 40px;
		float: right;
		position: relative;
	}
	
	.f2-center {
		width: 1200px;
		height: 120px;
		margin-top: 5px;
		border: #000000 1px solid;
	}
	
	.f2-center span {
		display: block;
		color: white;
		margin-right: 10px;
		width: 38px;
		height: 20px;
		text-align: center;
		border-radius: 10px;
		background: #CC0000;
		line-height: 20px;
	}
	
	.f2-list-l {
		width: 596px;
		height: 120px;
		float: left;
	}
	
	.f2-list-l li {
		float: left;
		color: #999999;
		margin-top: 10px;
		margin: 0 5px;
	}
	
	.f2-list-l a {
		color: #999999;
	}
	
	.f2-list-r {
		width: 596px;
		height: 120px;
		float: left;
	}
	
	.f2-list-r {
		margin-left: 8px;
	}
	
	.f2-list-r li {
		float: left;
		color: #999999;
		margin-top: 10px;
		margin: 0 5px;
	}
	
	.f2-list-r a {
		color: #999999;
	}
	
	.a_area06 {
		margin: 0 0 15px 0;
	}
	
	.a_area06N1 {
		width: 1200px;
		overflow: hidden;
		margin: 10px auto 6px auto;
	}
	
	.bbb {
		width: 1300px;
	}
	
	.a_area06N1 li {
		float: left;
		width: 290px;
		margin: 5px 13px 5px 0;
		background: #00a654;
		height: 85px;
		padding-top: 11px;
		text-align: center;
	}
	
	.a_area06N1 li a b {
		font-size: 16px;
		padding: 0 10px;
		display: block;
		line-height: 26px;
		color: #fff;
	}
	
	.a_area06N1 li a p {
		font-size: 12px;
		color: #fcf56e;
		margin-top: 4px;
	}
	
	.a_area06N2 li {
		float: left;
		width: 312px;
		margin: 10px -22px 0 10px;
		display: inline;
	}
	
	.a_N1 {
		float: left;
		width: 90px;
		border-radius: 4px;
		text-align: center;
	}
	
	.a_N1 p:first-child {
		background: #515151;
		color: #fff;
		line-height: 32px;
		font-size: 14px;
	}
	
	.a_N1 p:last-child {
		background: #f0f0f0;
		line-height: 40px;
		font-size: 16px;
	}
	
	.a_N2 {
		float: left;
		width: 200px;
		margin-left: 15px;
	}
	
	.a_N2 a p:nth-child(1) {
		font-size: 15px;
		padding-bottom: 6px;
	}
	
	.a_N2 a p:nth-child(2) {
		font-size: 12px;
		line-height: 20px;
		color: #666;
	}
	
	.a_area07 {
		margin: 10px auto 0 auto
	}
	
	.a_area07Left {
		float: left;
		width: 700px;
		position: relative;
		background: #f6f6f6;
		padding-bottom: 15px;
	}
	
	.a_area07Left h3 {
		font-size: 16px;
		height: 36px;
		line-height: 36px;
		top: 0px;
		position: relative;
		z-index: 99;
		background: #efefef;
		border-bottom: #d1d1d1 1px solid;
	}
	
	.a_area07Left h3 a {
		display: block;
		padding: 0 15px;
		color: #cc1b1b;
		border-bottom: #cc1b1b 2px solid;
		line-height: 35px;
	}
	
	.a_area07LeftBlock {
		display: block;
	}
	
	.a_area07 {
		margin: 10px auto 0 auto;
	}
	
	.a_area07Left {
		float: left;
		width: 820px;
		position: relative;
		background: #f6f6f6;
		padding-bottom: 15px;
	}
	
	.a_area07Left h3 {
		font-size: 16px;
		height: 36px;
		line-height: 36px;
		top: 0px;
		position: relative;
		z-index: 99;
		background: #efefef;
		border-bottom: #d1d1d1 1px solid;
	}
	
	.a_area07Left h3 a {
		float: left;
		display: block;
		padding: 0 15px;
		color: #cc1b1b;
		border-bottom: #cc1b1b 2px solid;
		line-height: 35px;
	}
	
	.a_area07Left01 {
		8px 0 0 15px;
	}
	
	.a_area07Left01 h2 {
		font-size: 18px;
		line-height: 34px;
	}
	
	.a_area07Left01 p {
		font-size: 12px;
		line-height: 20px;
		color: #666;
	}
	
	.a_area07Left02 {
		padding: 10px 13px;
	}
	
	.a_area07Left02 li {
		font-size: 14px;
		line-height: 26px;
		height: 26px;
		overflow: hidden;
		float: left;
		width: 315px;
		margin-right: 20px;
		display: block;
		color: #8a8a8a;
	}
	
	.a_area07Right {
		float: right;
		width: 290px;
		background: #f6f6f6;
	}
	
	.a_area07btm1rights {
		padding: 0 8px 24px 8px;
	}
	
	.oooo {
		margin: 10px auto 5px auto;
		text-align: center;
	}
	
	.a_area07btm1rights p {
		font-size: 14px;
		line-height: 27px;
		height: 27px;
		overflow: hidden;
	}
	
	.a_areaBtImg001 {
		width: 1200px;
		border: #000000 1px solid;
		margin-top: 10px;
	}
	
	.a_areaBtImg001 img {
		width: 100%;
	}
	
	.a_area08s {
		margin-top: 10px;
	}
	
	.a_area08s ul li {
		width: 298px;
		margin-top: 10px;
		float: left;
		margin-right: 3px;
	}
	
	.a_area08s ul li img {
		width: 100%;
	}
	
	.ffff {
		width: 1300px;
	}
	
	.a_area09 h3 {
		font-size: 18px;
		font-weight: normal;
		border-bottom: #333 2px solid;
		padding: 5px 0;
		margin-bottom: 15px;
	}
	
	.list0101 {
		float: left;
		width: 300px;
	}
	
	.list0101 {
		height: 180px;
		width: 300px;
		position: relative;
		text-align: center;
	}
	
	.list0101s {
		position: absolute;
		left: 0;
	}
	
	.list0101s li {
		position: relative;
		width: 100%;
		float: left;
		background: #000000;
	}
	
	.list0103 {
		bottom: 25px;
		left: 40%;
		position: absolute;
		height: 21px;
		text-align: center;
		z-index: 200;
	}
	
	.list0103btn {
		text-align: center;
	}
	
	.list0103btn a {
		position: relative;
		display: inline;
		width: 10px;
		height: 10px;
		border-radius: 7px;
		margin: 0 5px;
		color: #B0B0B0;
		font: 12px/15px "\5B8B\4F53";
		text-decoration: none;
		text-align: center;
		outline: 0;
		float: left;
	}
	
	.list0103 {
		margin-top: 10px;
		bottom: -56px;
		left: 0%;
	}
	
	.list0103 h4 {
		font-size: 16px;
		margin-bottom: 4px;
	}
	
	.list0103 ul li {
		font-size: 12px;
		line-height: 24px;
		height: 24px;
		overflow: hidden;
		margin: 2px 0;
	}
	
	.list0103 ul li font {
		color: #f46200;
		padding-right: 4px;
	}
	
	.list02 {
		float: left;
		width: 232px;
		margin: 0 15px;
	}
	
	.list0202 {
		float: left;
		width: 210px;
	}
	
	.list0202 h4 {
		font-size: 16px;
		margin-bottom: 4px;
	}
	
	.list0202 ul li {
		font-size: 12px;
		line-height: 24px;
		height: 24px;
		overflow: hidden;
		margin: 2px 0;
	}
	
	.list03 {
		float: left;
		width: 210px;
	}
	
	.list03 ul {
		float: left;
		width: 210px;
	}
	
	.list03 ul li {
		font-size: 12px;
		line-height: 24px;
		height: 24px;
		overflow: hidden;
		margin: 2px 0;
	}
	
	.list03 ul li font {
		color: #f46200;
		padding-right: 4px;
	}
	
	.list04 {
		float: right;
		width: 210px;
	}
	
	.list04 ul li {
		font-size: 12px;
		line-height: 24px;
		height: 24px;
		overflow: hidden;
		margin: 2px 0;
	}
	
	.list04 ul li font {
		color: #f46200;
		padding-right: 4px;
	}
	
	.a_area10 {
		margin-top: 10px;
	}
	
	.a_area10 ul li {
		float: left;
		margin-right: 6px;
		width: 294px;
		position: relative;
		overflow: hidden;
	}
    .btnxianshi{
    display: none;
    position: absolute;
    top: 45px;
    left: -104px;
    background: #fff;
    text-align: center;
    color: #333;
    z-index: 999;
    padding: 8px;
    border: #ebebeb 1px solid;
	}
	
	.a_area04btm1rightss {
		padding: 8px 10px;
	}
	
	.a_area04btm1rightss ul li {
		font-size: 13px;
		line-height: 24px;
		height: 24px;
		overflow: hidden;
	}
	
	.a_area11 {
		margin: 10px auto 0 auto;
	}
	
	.a_area11 ul li {
		float: left;
		position: relative;
		width: 494px;
		height: 100px;
		overflow: hidden;
	}
	
	.a_guanggao {
		position: absolute;
		bottom: 2px;
		right: 2px;
	}
	
	.a_area11 ul li:last-child {
		float: right;
	}
	
	.a_area12 {
		background: #f3f3f3;
		padding: 0 1px 20px 1px;
		margin-top: 15px;
	}
	
	.a_area121 {
		font-size: 28px;
		padding: 10px 0 20px 20px;
		position: relative;
		line-height: 50px;
	}
	
	.a_area121 span {
		position: relative;
		top: 10px;
		left: 5px;
		font-size: 28px;
		line-height: 50px;
	}
	
	.a_area122 {
		float: left;
		width: 287px;
		margin-left: 10px;
		display: inline;
	}
	
	.a_area122 h4 {
		font-size: 20px;
		color: #ec0000;
		line-height: 44px;
	}
	
	.a_area122 ul {
		background: #fff;
		box-shadow: 2px 2px 2px #cecece;
	}
	
	.a_area122 ul li {
		font-size: 13px;
		line-height: 30px;
		padding-left: 40px;
		height: 30px;
		border-top: #e8e8e8 1px dashed;
		position: relative;
	}
	.a_area122 ul li.on{
		background: red;
	}
	.a_area122 ul li font {
		color: #ec0000;
		width: 20px;
		display: block;
		position: absolute;
		left: 18px;
	}
	
	.a_area122 ul li span {
		position: absolute;
		right: 10px;
		background: url(../img/indexico.png) no-repeat;
		padding-left: 20px;
		background-position: 0 10px;
	}
	
	.a_area13 {
		padding: 25px 36px;
	}
	
	.a_area13 ul li {
		width: 180px;
		height: 180px;
		float: left;
		margin: 0 15px;
		border-radius: 50%;
		border: 1px dashed #d5d4d4;
		text-align: center;
		padding: 30px;
	}
	
	.lidiv {
		line-height: 60px;
		width: 180px;
		height: 180px;
		border-radius: 50%;
		background: #fff;
		position: relative;
		z-index: 99;
	}
	
	.lidiv h3 {
		text-align: center;
	}
	
	.lidiv span {
		display: block;
		height: 24px;
		line-height: 24px;
		margin: 0 auto;
		font-size: 14px;
		color: #666666;
		text-align: left;
		padding-left: 10px;
	}
	
	.lidiv span i {
		font-style: normal;
		font-size: 14px;
		color: #f5992a;
		font-weight: bold;
		padding-right: 4px;
		line-height: 24px;
		text-align: left;
	}
	
	.lidiv button {
		width: 100px;
		height: 30px;
		font-family: "Microsoft Yahei";
		background: #27bb7a;
		border-radius: 3px;
		border: none;
		margin-top: 10px;
		line-height: 30px;
		text-align: center;
		font-size: 14px;
		color: #fff;
		cursor: pointer;
		outline: none;
		position: relative;
	}
	.fudong{
		height: 100%;
	    right: 0;
	    position: fixed;
	    right: 0;
	    bottom: 0;
	    z-index: 100;
	    height: 100%;
	}
	.quickLink{
		    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 100;
    height: 100%;
	}
	.quickPanle{
		    width: 30px;
    height: 100%;
    position: absolute;
    background: #161616;
    z-index: 2;
    top: 0;
    right: 0;
    font-family: 'microsoft yahei',arial;
	}
	.quickPanle01{
		position: absolute;
    top: 40%;
    left: 0;
    margin-top: -190px;
    z-index: 2;
    width: 30px;
     color: white;
	}
	
	.quickPanle01 li a{
		position: relative;
    display: block;
    left: 0;
    top: 0px;
     color: white;
     text-align: center;
	}
	.quickPanle01 li:first-child img{
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background-image:#000 ;
		
	}	
	.quickPanle01 li:nth-child(1){
		/*display: none;*/
		position: absolute;
		color: #000000;
		right: 4px;
	}
	.dengluzhece{
		display: none;
		width: 250px;
		height: 150px;
		background: #B0B0B0;
		position: absolute;
		top: 30px;
		right: 30px;
	}
	.dengluzhece p{
		    width: 120px;
   			 height: 70px;
		float: right;
	    line-height: 6;
	    text-align: center;
	    margin-right: 18px;
	    font-size: 20px;
	}
	.dengluzhece img{
		border-radius: 50%;
		margin-top: 20px;
		margin-left: 25px;
	}
	.ddddd a{
		display: block;
		width: 70px;
		height: 30px;
		line-height: 30px;
		background: red;
		font-size: 18px;
		float: left;
		margin-top: 20px;
		text-align: center;
		margin-left: 30px
	}
	.ddddd a:first-child{
		margin-right: 20px;
	}
	.quickPanle01 li:nth-child(2){
		margin-top: 80px;
		position: relative;
    display: block;
    left: 0;
    top: 0px;
	}
	.quickPanle02{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    background: #444851;
    z-index: 1;
	}

	.quickPanle02 li{
		    position: relative;
    display: block;
    left: 0;
    top: 0px;
    color: white;
	}
	.quickPanle02 li a{
		    display: block;
    line-height: 38px;
    text-align: center;
    width: 30px;
    margin: 0 auto;
    height: 38px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    overflow: hidden;
    background-color: #161616;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0px;
    z-index: 1;
    padding: 0;
	}
	.quickPanle02 li a i{
		width: 18px;
    height: 18px;
    top: 11px;
    left: 6px;
    background-position: 0 -302px;
	}
	.mapcode{
    padding: 10px;
    width: 148px;
    height: 175px;
    top: -157px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    border-radius: 5px 0 0 5px;
    
    z-index: 9999;
    position: absolute;
    left: -168px;
    display: none;
	}
	.mapcode img{
		vertical-align: middle;
	}
	.mapcode p{
		    text-align: center;
		    font-size: 14px;
	}
	.mapcode i{
		position: absolute;
    right: -5px;
    top: 172px;
    width: 5px;
    height: 9px;
    background-position: 0 -253px;
	}
	.top{
    background-position: 0 -201px;
    width: 17px;
    height: 14px;
    top: 12px;
    left: 6px;
	}
	.quickPop{
	position: absolute;
    top: 0;
    right: 0;
    display: none;
    box-shadow: 0 0 5px #999;
    border-radius: 5px 0 0 5px;
    border: 1px solid #999;
	}
		.quickLi{
		width: 220px;
    overflow: hidden;
    height: 85px;
	}
	.quickLi img{
		width: 70px;
    height: 70px;
    vertical-align: middle;
	}
	.quickLi p{
		    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
        float: left;
    margin: 6px 10px 0 5px;
    display: inline;
	}
	.quickLi ul{
		overflow: hidden;
    color: #333;
    padding-top: 20px;
    line-height: 24px;
    width: 130px;
    float: left;
	}
	.quickLi ul li{
		    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    position: relative;
    display: block;
    left: 0;
    top: 0px;
    z-index: 111;
	}
	.quickLi02{
	width: 220px;
    border-top: 1px dotted #d5d5d5;
    overflow: hidden;
    padding-top: 10px;
    clear: both;
	}
	.quickLi02 a:nth-child(1){
	width: 60px;
	height: 60px;
	background: #0067A9;
	z-index: 100;
	}
	.quickLi02 a:nth-child(2){
		width: 60px;
	height: 60px;
	background: #0067A9;
	}
	/*////////////////////////////////////////////////*/